body {
    background-color: lightgray;
}

.margin-slide{
    padding-top: 20px;
    margin-top: 50px;
}

div h3{
    text-align: center;
}

#onde_estamos{
    margin-top: 50px;
    margin-bottom: 30px;
}

#fale_conosco{
    margin-top: 50px;
}